@import "../../utilities/colours";

.sidebarMonthView {
  margin: 0px 5px;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 8px;
  margin-bottom: 5px;
}

.header .currentMonth {
  color: $dark-text-color;
}

.navigation {
  display: flex;
  margin-left: auto;
}

.weekdayNames {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 65%;
  padding-right: 1px;
  color: $light-text-color;
  margin-bottom: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  row-gap: 2px;
  font-size: 65%;
  padding-right: 1px;
  color: $medium-text-color;
}
