@import "../../../../utilities/colours";

.clockIcon {
  display: flex;
  align-items: center;
  width: 8%;
  color: $light-text-color;
}

.dateTimeSelect {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.eventDateSelect,
.startTimeSelect,
.endTimeSelect {
  padding: 6px 6px 3px 6px;
  border-radius: 4px;
  &:hover {
    background-color: $hover-bg;
  }
}

.dateTimeSelect input {
  border: none;
  outline: none;
  padding: 2px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  color: $medium-text-color;
  font-size: 14px;
}

.dateTimeSelect input:hover {
  cursor: text;
}

.dateTimeSelect input:focus {
  border-bottom: 2px solid $blue;
  background-color: $hover-bg;
}

.dateTimeSelect label {
  display: block;
  padding-left: 2px;
  font-size: 12px;
  color: $light-text-color;
}
