@import "../../../../utilities/colours";

.eventTitle {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  margin-bottom: 20px;
  margin-left: 10%;
}

.eventTitleInput {
  border: none;
  border-bottom: 1px solid $border-color;
  font-size: 140%;
  font-family: "Roboto", sans-serif;
  transition: border 150ms ease-out;
  padding: 5px 5px 0 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  &:focus,
  &:focus-visible {
    outline: none;
    border-bottom: 2px solid $blue;
    transition: border 150ms ease-out;
  }
}

.error #title {
  background-color: rgba(197, 17, 50, 0.15);
  border-bottom: 2px solid darkred !important;
}
