@import "../../../utilities/colours";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: $medium-text-color;
  margin-right: 5px;
  &:hover {
    background-color: $hover-bg;
    cursor: pointer;
  }
}
