$light-text-color: #70757a;
$medium-text-color: #5f6368;
$dark-text-color: #3c4043;
$hover-bg: rgba(60, 64, 67, 0.08);
$border-color: rgb(218, 220, 224);
$blue: #1a73e1;
$blue-darker: #1967d2;
$blue-light: #bad2f8;
$blue-lighter: #d2e3fc;
