header {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--border);
}

.burger,
.brand {
  display: none;
}

@media (min-width: 600px) {
  .burger {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 30px;
    color: var(--medium-text-color);
    margin-right: 5px;
  }

  .brand {
    display: block;
    margin-right: 60px;
  }

  .brand h1 {
    color: var(--medium-text-color);
    font-size: 22px;
    line-height: 1.3;
  }
}

.burger:hover,
.show-today:hover,
.previous-week:hover,
.next-week:hover {
  background-color: var(--hover-bg);
  cursor: pointer;
}

.show-today {
  background-color: transparent;
  border: 1px solid var(--border);
  padding: 11px 12px 10px 12px;
  border-radius: 4px;
  font-size: 93%;
  color: var(--dark-text-color);
  margin-right: 30px;
}

.previous-week,
.next-week {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: var(--medium-text-color);
}

.previous-week {
  margin-right: 2px;
}

.next-week {
  margin-right: 15px;
}

.current-date {
  font-size: 20px;
  color: var(--dark-text-color);
  margin-right: 10px;
}
