@import "../../utilities/colours";

.sidebar {
  width: 250px;
  padding: 15px 8px;
}

.createEvent .label {
  position: relative;
  bottom: -1px;
}

.sidebarMonthView {
  margin: 0px 5px;
}

.navigate {
  display: flex;
  align-items: center;
  padding-left: 8px;
  margin-bottom: 5px;
}

.navigate .currentMonth {
  color: $dark-text-color;
}

.previousMonth {
  margin-left: auto;
}

.previousMonth,
.nextMonth {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: $medium-text-color;
}

.previousMonth:hover,
.nextMonth:hover {
  background-color: $hover-bg;
  cursor: pointer;
}

.weekdayNames {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 65%;
  padding-right: 1px;
  color: $light-text-color;
  margin-bottom: 10px;
}

.sidebarMonthView .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  row-gap: 2px;
  font-size: 65%;
  padding-right: 1px;
  color: $medium-text-color;
}

.days button {
  background-color: transparent;
  border: none;
  width: 23px;
  height: 23px;
  border-radius: 15px;
}

.days button:hover {
  background-color: $hover-bg;
  cursor: pointer;
}

.days .selectedDay {
  background-color: $blue-lighter;
  color: $blue-darker;
}

.days .selectedDay:hover {
  background-color: $blue-light;
}

.days .currentDay {
  background-color: $blue;
  color: white;
}

.days .currentDay:hover {
  background-color: $blue-darker;
}
