@import "../../../../utilities/colours";

.eventDateSelect {
  padding: 6px 6px 3px 6px;
  border-radius: 4px;
  &:hover {
    background-color: $hover-bg;
  }
}

.error {
  background-color: rgba(197, 17, 50, 0.15);
  &:hover {
    background-color: rgba(197, 17, 50, 0.2);
  }
}

.errorMessage {
  display: block;
  padding-top: 5px;
  font-size: 12px;
  display: block;
  color: darkred;
}
